<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>health-kit</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need to send you notifications to keep you informed about your daily step progress</string>
	<key>NSMotionUsageDescription</key>
	<string>We need access to motion data to accurately track your steps and help you achieve your daily physical activity goals</string>
</dict>
</plist>
